body {
  margin: 0px;
}

.red-container{
  background: #b52f3a;
  height: 650px;
  width: 100%;
  display: inline-block;
}

.header{
  display: block;
  background: url(img/slider1.jpg) 100% 100% no-repeat;
  background-size:contain;
  height: 87%;
  width: 90%;
  margin: auto;
  margin-top: 78px;
}
