body {
  margin: 0px;
}

.red-container{
  background: #b52f3a;
  height: 700px;
  width: 100%;
  display: inline-block;
}

.header{
  display: block;
  background: url(img/slider1.jpg) 100% 100% no-repeat;
  background-size:cover;
  height: 90%;
  width: 90%;
  margin: auto;
  margin-top: 70px;
  position: relative;
}

.header-logo{
  display: inline-block;
  width: 18%;
  height: 17%;
  position: absolute;
  top: 20px;
  left: 30px;
}

#header-logo__img{
  width: 100%;
  height: 100%;
}

.header-menu{
  display: inline-block;
  height: 70px;
  width: 77%;
  position: absolute;
  right: 0px;
  top: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.header-list {
  list-style: none;
}
.header__list {
  float: left;
  margin-left: 60px;
}

#list__active{
  color: white;
}
.header-main{
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
}

.box-center{
  display: inline-block;
  position: absolute;
  top: 150px;
  left: 200px;
  width: 200px;
  height: 60%;
}

.center__title{
  color: white;
  font-size: 65px;
  margin: 0px;
  margin-right: 40px;
  font-family: 'poppins', sans-serif;
  font-weight: 600;
}

.box-left{
  display: inline-block;
  width: 3%;
  height: 57%;
  position: absolute;
  top: 150px;
  left: 90px;
}
.box-right{
  display: inline-block;
  width: 3%;
  height: 57%;
  position: absolute;
  top: 150px;
  right: 70px;
}

.img__dance{
  height: 100%;
}

.box-bottom{
  display: block;
  width: 80px;
  height: 35px;
  position: absolute;
  bottom: 30px;
  right: 715px;
}

.bottom-circle__red{
  display: inline-block;
  height: 100%;
  width: 46%;
  background: #9f1414d1;
  border-radius: 50%;
}

.bottom-circle__white{
  display: inline-block;
  height: 100%;
  width: 46%;
  background: #d4cdcd;
  float: right;
  border-radius: 50%;
}

.trainings{
  display: block;
  width: 100%;
  height: 800px;
}

.trainings-white{
  display: block;
  width: 100%;
  height: 25%;
}

.white-title{
  display: block;
  width: 320px;
  height: 70px;
  margin: auto;
  padding-top: 60px;
  border-bottom: 1px black solid;
  position: relative;
}

#white__title{
  font-size: 54px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

#white__circle{
  display: inline-block;
  width: 18px;
  height: 18px;
  background: #b52f3a;
  border-radius: 50%;
  position: absolute;
  bottom: -10px;
  left: 150px;
}


.trainings-red{
  display: block;
  width: 100%;
  height: 80%;
  background: #b52f3a;
}

.training-text{
  display: inline-block;
  width: 38%;
  height: 100%;
}

#training-text__lorem{
  display: inline-block;
  width: 70%;
  height: 30%;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 23px;
  margin-top: 240px;
  margin-left: 90px;
}

.training-img{
  display: inline-block;
  width: 60%;
  height: 100%;
  float: right;
}


.training__image{
  display: block;
  width: 90%;
  height: 82%;
  border-radius: 70px;
  margin-top: 80px;
}
