body {
  margin: 0px;
}

.red-container {
  background: #b52f3a;
  height: 700px;
  display: block;
  padding-right: 70px;
  padding-left: 70px;
}

.header {
  display: block;
  background: url(img/slider1.jpg) 100% 100% no-repeat;
  background-size:cover;
  height: 90%;
  margin: auto;
  position: relative;
}

.header-logo {
  display: inline-block;
  width: 17%;
  height: 17%;
  position: absolute;
  top: 20px;
  left: 30px;
}

#header-logo__img {
  width: 100%;
  height: 100%;
}

.header-menu {
  display: inline-block;
  height: 70px;
  width: 77%;
  position: absolute;
  right: 0px;
  top: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.header-list {
  list-style: none;
}
.header__list {
  float: left;
  margin-left: 55px;
}

#list__active {
  color: white;
}

.header-main {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
}

.box-center {
  display: inline-block;
  position: absolute;
  top: 150px;
  left: 200px;
  width: 200px;
  height: 60%;
}

.center__title {
  color: white;
  font-size: 65px;
  margin: 0px;
  margin-right: 40px;
  font-family: 'poppins', sans-serif;
  font-weight: 600;
}

.box-left {
  display: inline-block;
  width: 3%;
  height: 57%;
  position: absolute;
  top: 150px;
  left: 90px;
}
.box-right {
  display: inline-block;
  width: 3%;
  height: 57%;
  position: absolute;
  top: 150px;
  right: 70px;
}

.box-bottom {
  display: block;
  width: 80px;
  height: 35px;
  position: absolute;
  bottom: 30px;
  right: 555px;
}

.bottom-circle__red {
  display: inline-block;
  height: 100%;
  width: 46%;
  background: #9f1414d1;
  border-radius: 50%;
}

.bottom-circle__white {
  display: inline-block;
  height: 100%;
  width: 46%;
  background: #d4cdcd;
  float: right;
  border-radius: 50%;
}

.trainings {
  display: inline-block;
  height: 700px;
}

.trainings-red {
  display: inline-block;
  height: 80%;
  background: #b52f3a;
}

.trainings-text {
  display: inline-block;
  width: 34%;
}

.trainings-text__lorem {
  color: white;
  font-size: 22px;
  font-weight: 100;
  font-family: 'Open Sans', sans-serif;
  margin-top: 200px;
  margin-left: 40px;
  margin-right: 10px;
}

.trainings-img {
   display: inline-block;
  width: 58%;
  float: right;
}

.trainings-img__foto {
  height: 80%;
  width: 90%;
  border-radius: 50px;
  margin-top: 70px;
}

.dance-section {
  display: block;
  height: 700px;
}

.dance-section-images {
  display: block;
  height: 80%;
  width: 75%;
  margin: auto;
}

.dance-section-images__bgr {
  float: left;
  width: 30%;
  height: 45%;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 30px;
  position: relative;
  text-align: center;
  color: white;
 background-color: black;
}

.dance-section-images__dancing {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  opacity: 0.7;
}
.dance-section-images__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  margin: 0;
  text-align: center;
  color: white;
  line-height: 213px;
  font-size: 40px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

.openhour {
  display: block;
  height: 600px;
  position: relative;
}

.openhour-red {
  display: inline-block;
  width: 50%;
  height: 100%;
  background: #b52f3a;
}

.openhour-img {
  display: inline-block;
  width: 50%;
  height: 100%;
  float: right;
  background: url(img/oh.jpg);
  background-size: cover;
}

.openhour-lesson {
  display: inline-block;
  width: 40%;
  height: 62%;
  position: absolute;
  top: 120px;
  left: 240px;
  background-color: white;
}

.openhour-lesson__title {
  font-family: 'Open Sans', sans-serif;
  font-size: 45px;
  margin-left: 50px;
  margin-bottom: 10px;
}

.openhour-lesson__dance-section {
  margin-left: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  margin-top: 10px;
  color: #252121;
}

.shortcode {
  display: block;
  height: 700px;
}

.trainings-white ,.dance-section-top , .shortcode-title {
  display:block;
}

.page-title {
  display: block;
  width: 280px;
  border-bottom: 1px solid black;
  position: relative;
  margin: auto;
  margin-bottom: 45px;
}

.page-title__text {
  font-size: 45px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0px;
  text-align: center;
}

.page-title__circle {
 display: block;
 width: 15px;
 height: 15px;
 position: absolute;
 bottom: -8px;
 right: 135px;
 background: #b52f3a;
 border-radius: 50%;
}

.shortcode-img {
  display: block;
  height: 77%;
}

.shortcode-left {
  display: inline-block;
  width: 40%;
}

.shortcode-left__img {
  width: 80%;
  margin-left: 150px;
}

.shortcode-right {
  display: inline-block;
  width: 58%;
  height: 100%;
  float: right;
  position: relative;
}

.shortcode-right__img {
  display: block;
  width: 65%;
  height: 90%;
  position: absolute;
  right: 250px;
}

.contactus {
  display: block;
  height: 700px;
}

.contactus-red {
  display: block;
  height: 80%;
  background: #b52f3a;
}

.contactus-form {
  display: inline-block;
  width: 26%;
  height: 70%;
  background: white;
  margin-top: 60px;
  margin-left: 170px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
}

.contactus-form__input {
  width: 100%;
  height: 30px;
  border: 0;
  margin-bottom: 20px;
  border-bottom: 3px #928a8a solid;
  font-size: 16px;
}

.contactus-form__textarea {
  width: 100%;
  height: 70px;
  border: 0;
  margin-bottom: 30px;
  border-bottom: 3px #928a8a solid;
  font-size: 16px;
  font-family: 'Arial';
}

.contactus-form__button {
  display: block;
  width: 50%;
  height: 60px;
  margin:  auto;
  background: #b52f3a;
  border: none;
  color: white;
  font-size: 18px;

}

.contactus-form__input:focus {
  border: 1px red solid;
  border-bottom: 3px #928a8a solid;
  font-size: 12px;
}
.contactus-img {
  display:block;
  width: 55%;
  float: right;
}

.contactus-img__map {
  display: block;
  width: 70%;
  height: 90%;
  margin-top: 60px;
}
